body {
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  background-color: var(--mantine-color-red-0);
}

a {
  color: var(--mantine-black);
  text-decoration: underline;
  text-decoration-color: var(--mantine-primary-color-3);
  line-height: 1;
}

a:hover {
  color: var(--mantine-color-white);
  background-color: var(--mantine-primary-color-3);
}