.header {
    height: 56px;
    margin-bottom: 10px;
    border-bottom: 3px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
  
.inner {
height: 56px;
display: flex;
justify-content: space-between;
align-items: center;
}

.headerlink {
    all: unset; /* Resets all inherited and default styles */
    cursor: pointer; /* Adds a pointer cursor for interactivity */
    text-decoration: none; /* Ensures no underline */
    color: inherit; /* Inherits the text color from the parent */
}

.headerlink:hover {
    all: unset; /* Resets all inherited and default styles */
    cursor: pointer; /* Adds a pointer cursor for interactivity */
    text-decoration: none; /* Ensures no underline */
    color: inherit; /* Inherits the text color from the parent */
}